<div class="container mt-5 d-flex justify-content-center .flex-column">

  <div class="user-wrapper">
      <img src="https://uploads-ssl.webflow.com/604c98ba045b288eacd85143/604d40ac08cd1b201d16d508_Slice%202.jpg" loading="lazy" alt="" class="profil-pic">
      <h3 class="welcome-name">Welcome back <%=@current_user.first_name%></h3>
      <div class="badge-wrapper">
  </div>
      

      <% if policy(Note).create? %>
        <%= link_to "+ Create Note", new_ycourse_path, class:"button create-note-btn color-white w-button pl-4 pr-4" %>
      <% end %>
  </div>

</div>




<!--Filter Form-->
<div>

  <div class="container mb-5 pb-5 d-flex justify-content-center search-wrap">
    <h4 class=="search-title">Search My Notes</h4>
<%= form_tag(notes_path, :method => "get",
    class: 'search-form') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Looking for a keywork in a note...", class: "search-note-input" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class => 'button create-note-btn color-white w-button pl-4 pr-4 search-btn',:name => nil%>
    </div>
  </div>
<% end %>
<!--Filter Form END-->


<!--Search Results-->
    <% if @search_ycourse
      @search_ycourse.each do |result| %>
    <img src="https://img.youtube.com/vi/<%=result%>/0.jpg" class="course-thumbnail shadow-lg">
    <% end %>
    <% end %>
<!--Search Results END-->

</div>


<!--List Ycourse-->

<div class="container mb-5 pb-5">
  <div id="ycourse-list-wrapper">

  <% if @ycourses
  @ycourses_url.each_with_index do |ycourseID, index| %>
  <a href="<%= note_path(@notes.find(@ycourses[index].id)) %>">
    <img src="https://img.youtube.com/vi/<%=ycourseID%>/0.jpg" class="course-thumbnail shadow-lg">
  </a>
<% end %>
<% end %>
</div>
<!--List Ycourse END-->

</div>
</div>

