<div class="container mt-5 d-flex justify-content-center .flex-column">

<div class="user-wrapper"><img src="https://uploads-ssl.webflow.com/604c98ba045b288eacd85143/604d40ac08cd1b201d16d508_Slice%202.jpg" loading="lazy" alt="" class="profil-pic">
    <h3 class="welcome-name">Welcome back <%=@current_user.first_name%></h3>
    <div class="badge-wrapper"></div>



    <% if policy(Note).create? %>
      <%= link_to "+ Create Note", new_ycourse_path, class:"button create-note-btn color-white w-button pl-4 pr-4" %>
    <% end %>
</div>


</div>





<div class="container mb-5 pb-5">
  <div id="ycourse-list-wrapper">
  <% if @ycourses
  @ycourses_url.each do |ycourseID| %>
<img src="https://img.youtube.com/vi/<%=ycourseID%>/0.jpg" class="course-thumbnail shadow-lg">
<% end %>
<% end %>
</div>
</div>
</div>
<div>

  <div class="container mb-5 pb-5 justify-content-center ">
    <h3>my Notes</h3>
<%= form_tag(notes_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "looking for a keywork in a note...", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
    </div>
  </div>
<% end %>


<h4>notes related to your search:</h4>
<br>

    <% if @search_ycourse
      @search_ycourse.each do |result| %>
    <img src="https://img.youtube.com/vi/<%=result%>/0.jpg" class="course-thumbnail shadow-lg">
    <% end %>
    <% end %>
</div>


