
<div class="y-course-wrapper card-box">
  <!-- Youtube video -->
  <div class="half-screen youtube-video-wrapper">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%=@ycourseID%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <!-- end of video -->

  <!-- the right part of the screen -->
  <div class="half-screen-right card-box">

    <!-- the navigation -->
    <div class="notes-nav">
      <!-- the Back to the notes -->
      <a href="<%= notes_path %>" class="link-block w-inline-block">
        <img src="https://uploads-ssl.webflow.com/604c98ba045b288eacd85143/6053826e1c18ee4b0d70de2b_back-icon.svg" loading="lazy" alt="" class="image-3"><span class="back-to-notes">Back to notes</span>
      </a>

      <!-- The links: Favorite / Delete / Share -->
      <div class="features-wrap">

        <!-- favorite -->
<<<<<<< HEAD
        <a href="#" class="feature-link w-inline-block" id="favorite-note">

        </a>
=======
        <% if @current_user.favorited?(@note) %>
          <%= link_to image_tag("https://res.cloudinary.com/dr1gk6cpf/image/upload/v1616576262/Unotes/Heart_Full.svg"), toggle_favorite_path(@note), method: :post, class: 'favorite-false' %>
        <% else %>
          <%= link_to image_tag("https://res.cloudinary.com/dr1gk6cpf/image/upload/v1616576270/Unotes/heart%20_empty.svg"), toggle_favorite_path(@note), method: :post, class: 'favorite-true' %>
        <% end %>
>>>>>>> master

        <!-- share -->
        <a href="#" class="feature-link w-inline-block" id="share-note">
          <img src="https://res.cloudinary.com/the-peacock/image/upload/v1616087286/share_outline_k2ehdj.svg" loading="lazy" alt="">
        </a>

        <!-- delete -->
        <%= link_to image_tag("https://res.cloudinary.com/the-peacock/image/upload/v1616087286/trash_full_solpsf.svg") %>
      </div>
    </div>
    <!-- end of navigation -->

    <!-- The forms fort 1/ the Title & 2/The Visible parameter -->
    <div class="note-title text-right note-forms tag-items">
      <%= simple_form_for(@note) do |f| %>
        <%= f.input :title, input_html: { class: "note-title" }, placeholder: 'My lovely Title' %>
        <!-- Add tags as checkboxes -->
        <%= f.input :tag_list, as: :check_boxes,
          collection: [ "CSS", "HTML", "JavaScript", "Ruby", "SQL", "C++", "Swift", "JAVA" ],
          input_html: { class: "tag-selector" },
          item_wrapper_class: 'tag-item' %>

        <%= f.input :visible, as: :boolean, input_html: { class: "toggle visible" }, value: @note.visible ? false : true %>

        <%= f.button :submit, class: "submit-form" %>
      <% end %>
    </div>
    <!-- end of the form -->

    <!-- the editor.js -->
    <div id="editorjs" data-content="<%= @note.json_content %>"></div>

    <!-- the Save Button -->
    <button id="saveButton">
      Save content
    </button>

    <!-- Related Notes -->
    <div class="related_notes">
    <p>Related Notes</p>
      <ul>
        <% @related_notes.each do |n| %>
          <li class="related_notes_items"> <%= link_to "#{n.title}", note_path(n) %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!--JS Code for Animations-->
<script>
  // ScrollReveal (https://github.com/jlmakes/scrollreveal)


(function scrollReveal() {
  window.sr = ScrollReveal();

  sr.reveal('.card-box', {
    duration   : 600,
    distance   : '20px',
    easing     : 'ease-out',
    origin     : 'bottom',
    reset      : true,
    scale      : 1,
    viewFactor : 0,
    afterReveal  : revealChildren,
  }, 150);

    var revealChildren = sr.reveal('.card-title, .card-text', {
    duration   : 500,
    scale      : 1,
    distance   : '20px',
    origin     : 'bottom',
    reset      : true,
    easing     : 'ease-out',
    viewFactor : 1,
  }, 75);
})();

</script>
<!--JS Code for Animations END-->
