<div class="y-course-wrapper card-box">
  <div class="half-screen youtube-video-wrapper">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%=@ycourseID%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="half-screen-right card-box">
      <div class="notes-nav">
        <a href="<%= notes_path %>" class="link-block w-inline-block">
          <img src="https://uploads-ssl.webflow.com/604c98ba045b288eacd85143/6053826e1c18ee4b0d70de2b_back-icon.svg" loading="lazy" alt="" class="image-3"><span class="back-to-notes">Back to notes</span>
        </a>
        <div class="features-wrap">
          <a href="<%=  new_fnote_path(@note) %>" class="feature-link w-inline-block" id="favorite-note"><img src="https://res.cloudinary.com/the-peacock/image/upload/v1616087286/heart_outline_ywffh9.svg" loading="lazy" alt=""></a>
          <a href="#" class="feature-link w-inline-block" id="share-note"><img src="https://res.cloudinary.com/the-peacock/image/upload/v1616087286/share_outline_k2ehdj.svg" loading="lazy" alt=""></a>


          <%= link_to image_tag("https://res.cloudinary.com/the-peacock/image/upload/v1616087286/trash_full_solpsf.svg"), @note, method: :delete, data: { confirm: 'Are you sure?' } %>
          </a>
        </div>
      </div>

      <div class="note-title text-right">

        <%= simple_form_for(@note) do |f| %>

          <%= f.input :title, input_html: { class: "note-title" }, placeholder: 'My lovely Title' %>

        <% end %>

        <%= simple_form_for(@note) do |f| %>

          <%= f.hidden_field :visible, as: :boolean, input_html: { class: "toggle" }, value: @note.visible ? false : true %>

           <%= f.button :submit, "Make this note visible to others", class: " #{@note.visible ? "visible-true" : "visible-false"} " %>

        <% end %>

      </div>

      <div id="editorjs" class="container note-content" name="note[content]"></div>

  </div>
</div>

<!--JS Code for Animations-->
<script>
  // ScrollReveal (https://github.com/jlmakes/scrollreveal)

(function scrollReveal() {
  window.sr = ScrollReveal();
  
  sr.reveal('.card-box', {
    duration   : 600,
    distance   : '20px',
    easing     : 'ease-out',
    origin     : 'bottom',
    reset      : true,
    scale      : 1,
    viewFactor : 0,
    afterReveal  : revealChildren,
  }, 150);
  
    var revealChildren = sr.reveal('.card-title, .card-text', {
    duration   : 500,
    scale      : 1,
    distance   : '20px',
    origin     : 'bottom',
    reset      : true,
    easing     : 'ease-out',
    viewFactor : 1,
  }, 75);
})();

</script>
<!--JS Code for Animations END-->
