<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
    <%= image_tag "https://res.cloudinary.com/dr1gk6cpf/image/upload/v1615903358/Unotes/604c9916f9cdceeb6154666b_logo-orange_sgokhs.svg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse collapse" >
    <ul class="navbar-nav justify-content-center ">
      <div class="navigation-side-plain">

        <li class="nav-item active">
          <%= link_to "Discover courses", root_path, class: "nav-link w-nav-link" %>
        </li>
        <li class="nav-item ">
          <%= link_to "What students say", "#", class: "nav-link w-nav-link" %>
        </li>


        <div class="navigation-button-wrap">
        <li class="nav-item">
          <%= link_to "Login", new_user_registration_path, class: "btn btn-link register-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create an account", new_user_session_path, class: "btn nav-cta rounded-pill button_unotes" %>
        </li>
      </div>
    </div>
    </ul>
  </div>
</div>

