<div class="navigation-container-full">
      <div class="navigation-side-plain">
        <%= link_to root_path, class: "brand w-nav-brand w--current" do %>
        <%= image_tag "https://res.cloudinary.com/dr1gk6cpf/image/upload/v1615903358/Unotes/604c9916f9cdceeb6154666b_logo-orange_sgokhs.svg" %>
        <% end %>
        <nav role="navigation" class="nav-menu w-nav-menu pl-3">
          <% if user_signed_in? %>
              <%= link_to "Favorites", "#", class: "nav-link w-nav-link" %>
               <%= link_to "My Courses", notes_path, class: "nav-link w-nav-link" %>
               <div class="navigation-button-wrap">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link w-nav-link" %>
              <%= link_to "Create a note", new_ycourse_path, class: "button w-button" %>
            </div>

          <% else %>
            <a href="#Course" class="nav-link w-nav-link">Discover courses</a>
            <a href="#Testimonial" class="nav-link w-nav-link">What students say</a>
            <div class="navigation-button-wrap">
              <%= link_to "Login", new_user_session_path, class: "nav-link w-nav-link" %>
              <%= link_to "Create an account", new_user_registration_path, class: "button w-button" %>
            </div>
          <% end %>
        </nav>
      </div>

    </div>
