<div class="title-wrap">

  <%= simple_form_for @ycourse, html: { class: "form-wrap"} do |f| %>
  <% if @ycourse.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ycourse.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
          <% @ycourse.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :url, placeholder: 'Please enter an URL from Youtube', input_html: { class: "text-field" }, label:'' %>
    <%=  f.button :submit, 'Insert a course!', class: 'button w-button button-url' %>
  <% end %>

</div>